{{> header }}
    {{#each squad.players}}
        <li>
            <strong>{{ player.shirtNumber }} - {{ player.name }} - {{ player.position }}</strong>
        </li>
    {{/each}}
{{> footer parameter='js/squad.js'}}